* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgba(244, 244, 244);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 15% 25% auto auto;
    grid-template-areas:
        "navbar"
        "sidebar"
        "main"
        "footer";
    gap: 1rem;
}

nav {
    grid-template-areas: "navbar";
    color: white;
    width: 100%;
    background-color: rgba(44, 62, 80);
    border-radius: 12px;
}

nav h1 {
    display: flex;
    justify-content: center;
    padding-top: 4%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 12%;
    align-items: flex-end;
    margin-top: 5%;
}

nav a {
    text-decoration: none;

}

nav a:visited {
    color: rgba(149, 165, 166);
}

nav a:hover {
    color: rgba(71, 152, 213);
}

.sidebar {
    background-color: rgba(44, 62, 80);
    grid-template-areas: "sidebar";
    color: white;
    padding-left: 2%;
    padding-top: 3%;
    border-radius: 12px;
}

.menu{
    margin-top: 3%;
    width: 95%;
}
.sidebar a {
    
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 80%;
    margin-left: 3%;
    padding: 2.5%;
}

.sidebar a:visited {
    color: rgba(149, 165, 166)
}

.manu:focus {
    background-color: rgba(44, 62, 80);
}