body {
    height: 100vh;
    background-color: rgba(244, 244, 244);
}

nav{
    color: white;
    width: 100%;
    height: 12%;
    background-color:rgba(44, 62, 80) ;
    border-radius: 12px;
}

nav h1{
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 12%;
    margin-right: 6%;
}

nav a{
    text-decoration: none;

} 
nav a:visited {
    color: rgba(149, 165, 166);
}
