* {
    margin: 0;
    padding: 0;
}

body {
    height: 140vh;
    background-color: rgba(244, 244, 244);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 10% 15% 60%;
    grid-template-areas:
        "navbar"
        "sidebar"
        "main"
        "footer";
    gap: 1rem;
}

nav {
    grid-template-areas: "navbar";
    color: white;
    width: 100%;
    background-color: rgba(44, 62, 80);
    border-radius: 6px;
}

nav h1 {
    display: flex;
    justify-content: center;
    padding-top: 4%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 12%;
    align-items: flex-end;
    margin-top: 5%;
    list-style: none;
}

nav a {
    text-decoration: none;

}

nav a:visited {
    color: rgba(149, 165, 166);
}

nav a:hover {
    color: rgba(71, 152, 213);
}

nav a:focus {
    color: rgba(71, 152, 213);
}

.sidebar {
    background-color: rgba(52, 73, 94);
    grid-template-areas: "sidebar";
    color: white;
    padding-left: 2%;
    padding-top: 3%;
    border-radius: 6px;
}

.menu {
    margin-top: 3%;
    width: 95%;
    list-style: none;

}

.sidebar a {

    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 80%;
    margin-left: 3%;
    padding: 2.5%;
}

.sidebar a:visited {
    color: rgba(149, 165, 166)
}

.sidebar a:focus {
    background-color: rgba(44, 62, 80);
}

.contact-from {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid white;
    border-radius: 6px;
    padding: 30px;
}

.contact-from p {
    font-size: 110%;
    padding-top: 2%;
}

form {
    padding-top: 2%;
    height: 100%;
}

label{
    font-size: 130%;
}
input {
    margin-bottom: 3%;
    width: 100%;
    height: 2rem;
    padding: 30px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
    font-size: 21px;
}

textarea {
    height: 7rem;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
    font-size: 21px;
}



.checkbox {
    display: flex;
    flex-direction: column;
}

.form-group{
    height: 40%;
}
.group {
    height: 300px;
}